@import url('./styles/table.css');
@import url('./styles/button.css');
@import url('./styles/header.css');
@import url('./styles/card.css');
@import url('./styles/link.css');

h1 {
   font-size: 24px;
   text-align: center;
}

.container {
   min-width: 1280px;
   max-width: 1440px;
   margin: 0 auto;
}

.container_header {
   z-index: 100;
   position: sticky;
   top: 0;
 }
 


.title {
   color: #222222;
   font-size: 22px;
   font-weight: 700;
}

.mt-20 {
   margin-top: 20px;
}

.subtitle {
   padding-left: 10px;
   margin: 0;
   margin-top: 40px;
   color: #222222;
   font-size: 20px;
   font-weight: 600;
}

.equipmentWrapper {
   display: grid;
   grid-template-columns: 400px 400px;
   column-gap: 400px;
   justify-content: center;
}